
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <% if (typeof sessionId !== 'undefined') { %>
        <a class="navbar-brand" href="/products" style="color: green;"><strong>駅</strong> Ekinary</a>
        <% } else { %>
        <a class="navbar-brand" href="/" style="color: green;"><strong>駅</strong> Ekinary</a>
        <% } %>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="/categories">Categories</a>
            </li>
            <% if (typeof sessionId !== 'undefined') { %>
            <li class="nav-item">
            <a class="nav-link" href="/carts/<%= sessionId %> ">Cart</a>
            </li>
            <% } %>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <% if (typeof sessionId !== 'undefined') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/<%= sessionId %> ">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>

                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                <% } %>
        </ul>
        </div>
    </div>
</nav>