*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-collapse li {
  list-style-type: none;
  align-self: center;
}

.custom-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  font-size: 10rem;
  margin-top: 1rem;
}

a + a {
  margin-left: 1rem;
}

.card > img {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  max-height: 400px;
  object-position: center;
}

.custom-3 {
  height: 30vh;
}

.custom-alert {
  width: 30%;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1rem;
}